@import url('https://fonts.googleapis.com/css?family=Libre+Franklin:300');

#main{
	width: 2091px;
	height: 3500px;
	display: -webkit-flex;
	display: flex;
}

#main-content{
	width: 2091px;
	display: -webkit-flex;
	display: flex;
	justify-content: space-between;
	-webkit-justify-content: space-between;
	align-items: center;
	-webkit-align-items: center;
	flex-direction: column;
	-webkit-flex-direction: column;
	background-color: #F5F5F5;
}

#header-main{
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	-webkit-flex-direction: column;
	align-items: center;
	-webkit-align-items: center;
	width: inherit;
}

#header-form{
	width: inherit;
	display: -webkit-flex;
	display: flex;
	height: 322.54px;
	background-color: white;
}

#header{
	width: inherit;
	display: -webkit-flex;
	display: flex;
	height: 407.51px;
}

#table-box{
	display: -webkit-flex;
	display: flex;
	height: 502.54px;
	width: 1432px;
	margin-top: -163.64px;
	z-index: 1;
}

.graph-box{
	height: 570px;
	width: 1432px;
	display: -webkit-flex;
	justify-content: space-between;
	-webkit-justify-content: space-between;
	display: flex;
}

#diagram-box{
	display: -webkit-flex;
	display: flex;
	height: 776px;
	width: 1432px;
	margin-bottom: 150px;
	background-color: aqua;
}

.rectangle-graph-box{
	height: 570px;
	width: 827px;
}

.circle-graph-box{
	height: 570px;
	width: 585px;
}

#menu-content{
	width:320px;
	background-color:black;
}

.under{
	width: inherit;
	z-index: 0;
	position: absolute;
}

.over{
	width: inherit;
	z-index: 1;
	position: absolute;
}

#menu-icon{
	width: 44px;
	height: 21px;
	display: flex;
	display: -webkit-flex;
	flex-direction: column;
	-webkit-flex-direction: column;
	justify-content: space-between;
	-webkit-justify-content: space-between;
	margin-left: 117px;
	margin-top: 60px;
}

.menu-icon-rect{
	width: 44px;
	height: 3px;
	background-color: #707070;
}

#form{
	width: 1492px;
	margin: 0 auto;
	display: flex;
	display: -webkit-flex;
	flex-direction: column;
	-webkit-flex-direction: column;
}

#text-header{
	margin-top:51px;
	font-family: 'Libre Franklin', sans-serif;
	color: #44B900;
	font-size: 36px;
}

.form-inputs{
	display: flex;
	display: -webkit-flex;
	justify-content: space-between;
	-webkit-justify-content: space-between;
	font-family: 'Libre Franklin', sans-serif;
}

#header-labels{
	z-index: 2;
	width: 1492px;
	margin: 0 auto;
	display: flex;
	display: -webkit-flex;
	-webkit-align-self: center; 
	align-self: center;
	justify-content: space-around;
	-webkit-justify-content: space-around;
	font-family: 'Libre Franklin', sans-serif;
	color: white;
}

.label-head{
	font-size: 20px;
}

.label-val{
	font-size: 40px;
}

#logo{
	margin: 0 auto;
}

#drop{
	height: 960px;
	display: flex;
	display: -webkit-flex;
	justify-content: space-around;
	-webkit-justify-content: space-around;
	flex-direction: column;
	-webkit-flex-direction: column;
	font-family: 'Libre Franklin', sans-serif;
}

#menu-header{
	height: 300px;
	display: flex;
	display: -webkit-flex;
	flex-direction: column;
	-webkit-flex-direction: column;
	justify-content: space-between;
	-webkit-justify-content: space-between;
}
#username{
	color: white;
	margin: 0 auto;
	font-size: 20px;
}

#menu-items{
	color: white;
	font-size: 20px;
	flex-direction: column;
	-webkit-flex-direction: column;
}

.menu-item{
	font-size: 20px;
	list-style-type: none;
	width: 250px;
	height: 50px;
	display: block;
}

#avatar{
	margin-top: 50px;
	margin: 0 auto;
}

#currency{
	margin-top: 51px;
	float: right;
	font-size: 20px;
	font-family: 'Libre Franklin', sans-serif;
}

#form-header{
	display: flex;
	display: -webkit-flex;
	justify-content: space-between;
	-webkit-justify-content: space-between;
}

.chevron{
	width:24px;
	height: 24px;
	float:right;
}

#current{
	color: #44B900;
}

#menu-close{
	position: absolute;
	width: 1800px;
	height: 3500px;
}

#table-header{
	height: 40px;
	display: flex;
	display: -webkit-flex;
	align-items: center;
	-webkit-align-items: center;
	font-family: 'Libre Franklin', sans-serif;
	justify-content: space-between;
}

#table-main{
	font-family: 'Libre Franklin', sans-serif;
	font-size: 16pt;
}

.table-bar{
	width:100px;
	height: 25px;
	background-color: #BBBBBB;
	position: absolute;
}

.table-show-bar{
	height: 25px;
	background-color: orange;
	position: absolute;
}

.bar-value{
	margin: 0 auto;
	z-index: 2;
}

.graph-rectangle-header{
	display: flex;
	display: -webkit-flex;
	align-items: center;
	height: 52px;
	font-family: 'Libre Franklin', sans-serif;
	font-size: 16pt;
}