#main{
	width: 2091px;
	height: 3500px;
	background-color: gray;
	display: -webkit-flex;
	display: flex;
	justify-content: space-between;
	-webkit-justify-content: space-between;
	align-items: center;
	-webkit-align-items: center;
	flex-direction: column;
	-webkit-flex-direction: column;
}

#header-main{
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	-webkit-flex-direction: column;
	align-items: center;
	-webkit-align-items: center;
	width: inherit;
}

#header-form{
	width: inherit;
	display: -webkit-flex;
	display: flex;
	height: 322.54px;
	background-color: red;
}

#header{
	width: inherit;
	display: -webkit-flex;
	display: flex;
	height: 407.51px;
	background-color: blue;
}

#table-box{
	display: -webkit-flex;
	display: flex;
	height: 502.54px;
	width: 1432px;
	margin-top: -163.64px;
	background-color: pink;
}

.graph-box{
	height: 570px;
	width: 1432px;
	background-color: orange;
	display: -webkit-flex;
	justify-content: space-between;
	-webkit-justify-content: space-between;
	display: flex;
}

#diagram-box{
	display: -webkit-flex;
	display: flex;
	height: 776px;
	width: 1432px;
	margin-bottom: 150px;
	background-color: aqua;
}

.rectangle-graph-box{
	height: 570px;
	width: 827px;
	background-color: azure;
}

.circle-graph-box{
	height: 570px;
	width: 585px;
	background-color: coral;
}

#dropdown-menu{
	width:320px;
	background-color: white;
}